<!DOCTYPE html>
<html lang="en">

<head>
<style type="text/css">
.boxed {
  border: 1px solid green ;
}
</style>

<body>
<h1><ul>Buyer Details for {{item.name}}.</ul>
   <div class="boxed" style="width:304px;height:228px;">
       <img src="{{src}}" class="img-fluid" style="width:304px;height:228px;">
   </div>
</h1>
<p>Buyer Name : {{name}}</p>
<p>Email : {{email}}</p>
<p>Contact : {{contact}}</p>
<p>College : {{college}}</p>
<p>Address : {{address}}</p>
<p>City : {{city}}</p>
<p>Please reach out to the buyer for exchanging or buying items...!!!</p>
<br>
<p>Happy Shopping..!!!</p>
<p>Cheers!</p>

</body>
</head>
</html>
